body {
  padding: 20px;
  background-color: linear-gradient(blue, pink);
}
h1 {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}
footer {
  text-align: center;
}
h6 {
  font-family: dancing script;
}
span {
  font-weight: 250;
  font-style: italic;
}
.container {
  border: 1px solid grey;
  border-radius: 5px;
  border-spacing: 5px;
  max-width: 600px;
}
.weather-app {
  margin: 0 auto;
}
.card-img-top {
  width: 100px;
  display: block;
  margin: 0 auto;
  padding-top: 5px;
}
.card {
  display: inline-block;
  width: 25%;
}
.tableHeader {
  text-align: center;
  margin: 0 auto;
}
.card-header {
  text-align: center;
}
.card-body {
  font-size: 16px;
  display: block;
}
.card-body:first-letter {
  text-transform: capitalize;
}
.weather-low {
  opacity: 0.5;
  font-size: 16px;
}
.weather-high {
  font-size: 16px;
}
.span .temp1 {
  font-size: 20px;
}
