body {
  padding: 10px;
}
h1 {
  text-align: center;
  font-size: 24px;
  padding: 10px;
}
.container {
  border: 1px solid grey;
  border-radius: 4px;
  border-spacing: 5px;
}
.card-img-top {
  display: block;
  width: 50%;
  font-size: 40px;
  margin: 0 auto;
  padding-top: 5px;
}
span {
  font-weight: 250;
  font-style: italic;
}
.card {
  display: inline-block;
  width: 25%;
}
.city-form {
  position: static;
  margin-left: 600px;
}
.tableHeader {
  text-align: center;
  margin: 0 auto;
}
.card-header {
  text-align: center;
}
footer {
  text-align: center;
}
h6 {
  font-family: dancing script;
}
